{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% if messages|length > 0 %}
        {% for key,message in messages|slice(0,limit) %}
            <div>
                <a href="{{ path('app_show_one', { id: key }) }}">{{ message.message }}</a>
            </div>
            <div style="color: grey;">
                {{ include('hello/_message.html.twig') }}
            </div>
        {% endfor %}
    {% else %}
        <div>No messages found.</div>
    {% endif %}
</div>
{% endblock %}
